body {
margin: 0;
padding: 0;
background: linear-gradient(135deg, #f9f5f2);
font-family: Arial, sans-serif;
}


.header {
width: 100%;
padding: 40px 0;
text-align: center;
background: ##eab7ba, #a0c1ca;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.logo {
width: 200px;
height: auto;
}


.titulo {
margin-top: 10px;
font-size: 28px;
color: #333;
font-weight: bold;
}

/* LOGO DO SITE*/

.login-container {
position: fixed;
top: 20px;
right: 20px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
background: linear-gradient(135deg, #eab7ba);
height: auto;
width: auto;
padding: 0;
}


.login-form {
background: white;
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0,0,0,0.1);
display: flex;
flex-direction: column;
gap: 12px;
width: 250px;
}


.login-form h2 {
text-align: center;
color: #333;
}


.login-form input {
padding: 10px;
border-radius: 8px;
border: 1px solid #ccc;
font-size: 14px;
}


.login-form button {
padding: 10px;
border-radius: 8px;
border: none;
background: #eab7ba;
font-weight: bold;
color: white;
cursor: pointer;
transition: 0.2s;
}


.login-form button:hover {
background: #eab7ba;
}

/* LOGIN */


.categoria-titulo {
font-size: 24px;
margin-bottom: 20px;
color: #333;
}


.produtos-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
}


.produto-card {
background: white;
border-radius: 12px;
padding: 20px;
text-align: center;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.produto-card img {
width: 100%;
height: auto;
border-radius: 8px;
}


.produto-card h3 {
margin: 10px 0 5px 0;
font-size: 18px;
color: #333;
}


.produto-card p {
font-size: 16px;
color: #eab7ba;
font-weight: bold;
}


.produto-card button {
margin-top: 10px;
padding: 10px;
border: none;
background: #eab7ba;
color: white;
font-weight: bold;
border-radius: 8px;
cursor: pointer;
transition: 0.2s;
}


.produto-card button:hover {
background: #eab7ba;
}

/* ITEM ANEL*/

